SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=alertguard.settings.local
DATABASE_URL=postgres://user:password@localhost:5432/alertguard
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TELEGRAM_BOT_TOKEN=